<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c20a2fd-e461-4084-8cba-fedda891de6f" Alias="11-基隆市" Level="3">
  <Info>
    <Parent Key="b0cd1669-5194-450f-8559-40287c5979c7">Area Code</Parent>
    <Path>/CodeTableRoot/AreaCode/</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-05-20T09:57:06</CreateDate>
    <NodeName Default="11-基隆市" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[11]]></Value>
    </codeValue>
    <description>
      <Value><![CDATA[基隆市]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>