<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3542147-761a-4879-97f2-8c17d66b3bb4" Alias="1111111111" Level="3">
  <Info>
    <Parent Key="039b33a0-0683-49ff-8937-fc82f535ba31">01-台北市</Parent>
    <Path>/AgencyRoot//</Path>
    <Trashed>false</Trashed>
    <ContentType>agency</ContentType>
    <CreateDate>2020-05-20T10:49:47</CreateDate>
    <NodeName Default="1111111111" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8992ff23-f5fb-45a7-836a-4f1052a5b793">Agency</Template>
  </Info>
  <Properties>
    <accreditationType>
      <Value><![CDATA[["一般護理機家"]]]></Value>
    </accreditationType>
    <agencyAlias>
      <Value><![CDATA[測試之家]]></Value>
    </agencyAlias>
    <agencyAuthor>
      <Value><![CDATA[["個人設置"]]]></Value>
    </agencyAuthor>
    <agencyID>
      <Value><![CDATA[1111111112]]></Value>
    </agencyID>
    <agencyName>
      <Value><![CDATA[測試護理之家]]></Value>
    </agencyName>
    <agencyType>
      <Value><![CDATA[["獨立型態"]]]></Value>
    </agencyType>
    <contactDepartment>
      <Value><![CDATA[不知]]></Value>
    </contactDepartment>
    <contactEMail>
      <Value><![CDATA[sjvannn@gmail.com]]></Value>
    </contactEMail>
    <contactID>
      <Value><![CDATA[A111111111]]></Value>
    </contactID>
    <contactMobile>
      <Value><![CDATA[091111111111]]></Value>
    </contactMobile>
    <contactName>
      <Value><![CDATA[范某某]]></Value>
    </contactName>
    <contactTELOffice>
      <Value><![CDATA[1111111111]]></Value>
    </contactTELOffice>
    <contactTELOfficeExtension>
      <Value><![CDATA[111]]></Value>
    </contactTELOfficeExtension>
    <contactTitle>
      <Value><![CDATA[再說]]></Value>
    </contactTitle>
    <isHQ>
      <Value><![CDATA[1]]></Value>
    </isHQ>
  </Properties>
</Content>