<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfba83d4-2c05-4e56-9bf6-b2d97e4a1ea6" Alias="1" Level="4">
  <Info>
    <Parent Key="a06b16f9-c27a-4f70-a98f-3be918376d2f">經歷紀錄</Parent>
    <Path>/Committee///</Path>
    <Trashed>false</Trashed>
    <ContentType>experimentHistory</ContentType>
    <CreateDate>2020-07-06T15:26:09</CreateDate>
    <NodeName Default="1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="701d61fc-2ea2-4bcb-9f54-5bafa9d20897">ExperimentHistory</Template>
  </Info>
  <Properties>
    <experimentItem>
      <Value><![CDATA[[{"key":"15343bb5-9ea5-4db5-811a-c02045447b96","ncContentTypeAlias":"occupationElement","companyName":"aaa","department":"wwww","jobTitle":"qwas","expertise":"wqasd"}]]]></Value>
    </experimentItem>
  </Properties>
</Content>