<?xml version="1.0" encoding="utf-8"?>
<Content Key="31e296df-f463-4247-8811-7422e22806b2" Alias="1" Level="4">
  <Info>
    <Parent Key="b32cbbbd-d737-4066-ad23-cf40e585030d">評鑑紀錄</Parent>
    <Path>/Committee///</Path>
    <Trashed>false</Trashed>
    <ContentType>evaluationHistory</ContentType>
    <CreateDate>2020-07-06T16:17:33</CreateDate>
    <NodeName Default="1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="79ddf590-580d-4a3a-87a2-d4acb1489158">EvaluationHistory</Template>
  </Info>
  <Properties>
    <evaluationItem>
      <Value><![CDATA[[{"key":"d8153119-aa84-43b0-a276-e115e000a88e","ncContentTypeAlias":"evaluationExperienceElement","year":"","remark":"","domain":""}]]]></Value>
    </evaluationItem>
  </Properties>
</Content>