<?xml version="1.0" encoding="utf-8"?>
<Content Key="882b9a09-dfbe-4b5f-b1a3-bc1b24df2ddd" Alias="1" Level="4">
  <Info>
    <Parent Key="245ff74f-f146-4cfe-b16b-608bdc61c202">學歷紀錄</Parent>
    <Path>/Committee///</Path>
    <Trashed>false</Trashed>
    <ContentType>educationHistory</ContentType>
    <CreateDate>2020-07-06T15:17:15</CreateDate>
    <NodeName Default="1" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="685575e7-3468-46c0-b41f-1ed6a2f28857">Education</Template>
  </Info>
  <Properties>
    <degLevel>
      <Value><![CDATA[1]]></Value>
    </degLevel>
    <degYear>
      <Value><![CDATA[5]]></Value>
    </degYear>
    <school>
      <Value><![CDATA[[{"key":"940b1148-d809-4db1-a4d5-87884196530e","name":"Item 1","ncContentTypeAlias":"schoolElement","schoolCode":"1111","schoolName":"aaaa","department":"SSS"}]]]></Value>
    </school>
  </Properties>
</Content>