<?xml version="1.0" encoding="utf-8"?>
<Content Key="29da044b-efbc-4d4f-8296-00624a3554a5" Alias="1" Level="2">
  <Info>
    <Parent Key="8d898817-a855-40ab-ad78-5621033999e9">Committee</Parent>
    <Path>/Committee/</Path>
    <Trashed>false</Trashed>
    <ContentType>committee</ContentType>
    <CreateDate>2020-07-02T15:00:21</CreateDate>
    <NodeName Default="1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4f439c5-5dc2-4e3f-9853-255d2cd3f210">Committee</Template>
  </Info>
  <Properties>
    <avoidReasons>
      <Value><![CDATA[]]></Value>
    </avoidReasons>
    <chineseName>
      <Value><![CDATA[[{"key":"749af334-a270-49ff-a207-47cf9935465d","name":"Item 1","ncContentTypeAlias":"xPN","familyName":"王","givenName":"名字","fullName":"王名字","nickName":""}]]]></Value>
    </chineseName>
    <englishName>
      <Value><![CDATA[[{"key":"83287627-d305-43a4-aa5d-499bb9744cd8","name":"Item 1","ncContentTypeAlias":"xPN","familyName":"","givenName":"","fullName":"","nickName":""}]]]></Value>
    </englishName>
    <homeAddress>
      <Value><![CDATA[[{"key":"3c533213-0077-4e10-939c-b4a7fe9d30db","name":"Item 1","ncContentTypeAlias":"aD","stressAddress":"中間路111號","areaCode":"100","areaName":"台北市","zipCode":"100","zipName":"松山區","addressType":"umb://document/8a4cc9ce793c4738b86f940bd6081e6e"}]]]></Value>
    </homeAddress>
    <identity>
      <Value><![CDATA[[{"key":"c3662efa-579c-442b-b968-0bf2b28b6cce","name":"Item 1","ncContentTypeAlias":"identify","sID":"A111111111","birthday":"1965-10-30T00:00:00","gender":"1"}]]]></Value>
    </identity>
    <occupation>
      <Value><![CDATA[[{"key":"6ef3a592-519c-4390-a66e-9b1bc2010a86","name":"Item 1","ncContentTypeAlias":"occupation","companyName":"","department":"","jobTitle":"","expertise":""}]]]></Value>
    </occupation>
    <officeAddress>
      <Value><![CDATA[[{"key":"19358810-7b69-4ecc-b69c-ceb2d06f8adf","name":"Item 1","ncContentTypeAlias":"aD","stressAddress":"","areaCode":"","areaName":"","zipCode":"","zipName":"","addressType":""}]]]></Value>
    </officeAddress>
    <residentAddress>
      <Value><![CDATA[[{"key":"6fb7e0ec-0414-43c2-b9fe-02be7f76a219","name":"Item 1","ncContentTypeAlias":"aD","stressAddress":"","areaCode":"","areaName":"","zipCode":"","zipName":"","addressType":""}]]]></Value>
    </residentAddress>
    <tELData>
      <Value><![CDATA[[{"key":"59150c99-22b7-4237-8e81-22916019d0e3","name":"Item 1","ncContentTypeAlias":"xTN","telephoneNumber":"","countryCode":"","phoneAreaCode":"","extension":"","mobile":"","email":"","webSite":""}]]]></Value>
    </tELData>
  </Properties>
</Content>