<?xml version="1.0" encoding="utf-8"?>
<Content Key="29da044b-efbc-4d4f-8296-00624a3554a5" Alias="1" Level="2">
  <Info>
    <Parent Key="8d898817-a855-40ab-ad78-5621033999e9">Committee</Parent>
    <Path>/Committee/</Path>
    <Trashed>false</Trashed>
    <ContentType>committee</ContentType>
    <CreateDate>2020-07-02T15:00:21</CreateDate>
    <NodeName Default="1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4f439c5-5dc2-4e3f-9853-255d2cd3f210">Committee</Template>
  </Info>
  <Properties>
    <avoidReasons>
      <Value><![CDATA[]]></Value>
    </avoidReasons>
    <chineseName>
      <Value><![CDATA[[{"key":"d05a8a1a-b5ac-4647-a499-c607b3fa20ef","ncContentTypeAlias":"nameElement","familyName":"","givenName":"","fullName":"","nickName":""}]]]></Value>
    </chineseName>
    <committeeType>
      <Value><![CDATA[]]></Value>
    </committeeType>
    <englishName>
      <Value><![CDATA[[{"key":"052e9a26-f26d-42e8-9dec-1436169fe142","ncContentTypeAlias":"nameElement","familyName":"","givenName":"","fullName":"","nickName":""}]]]></Value>
    </englishName>
    <homeAddress>
      <Value><![CDATA[[{"key":"ceabc8b7-d39c-48e8-be6c-f24d15e4c2af","ncContentTypeAlias":"addressElement","stressAddress":"","areaCode":"","areaName":"","zipCode":"","zipName":"","addressType":"","cityCode":"","townCode":"","webSite":""}]]]></Value>
    </homeAddress>
    <identity>
      <Value><![CDATA[[{"key":"76ec256d-f68f-49fa-b154-bf44d4969810","ncContentTypeAlias":"identifyElement","sID":"","birthday":"","gender":"","comType":""}]]]></Value>
    </identity>
    <occupation>
      <Value><![CDATA[[{"key":"79fd694c-6824-4ca7-b9fe-1ab23ca2562d","ncContentTypeAlias":"occupationElement","companyName":"","department":"","jobTitle":"","expertise":""}]]]></Value>
    </occupation>
    <officeAddress>
      <Value><![CDATA[[{"key":"51d21d70-2d7e-4dd7-9f1f-1133528f14ab","ncContentTypeAlias":"addressElement","stressAddress":"","areaCode":"","areaName":"","zipCode":"","zipName":"","addressType":"","cityCode":"","townCode":"","webSite":""}]]]></Value>
    </officeAddress>
    <residentAddress>
      <Value><![CDATA[[{"key":"1208b5fa-85e8-430a-abbe-78f19862c8b4","ncContentTypeAlias":"addressElement","stressAddress":"","areaCode":"","areaName":"","zipCode":"","zipName":"","addressType":"","cityCode":"","townCode":"","webSite":""}]]]></Value>
    </residentAddress>
    <tELData>
      <Value><![CDATA[[{"key":"9307c3de-e6ff-4077-9490-ae2c04b84302","ncContentTypeAlias":"telElement","telephoneNumber":"","countryCode":"","phoneAreaCode":"","extension":"","mobile":"","email":"","webSite":"","fax":""}]]]></Value>
    </tELData>
  </Properties>
</Content>