<?xml version="1.0" encoding="utf-8"?>
<Content Key="64ba3423-cf66-4496-960e-bb79ef44001e" Alias="3 居家護理機構" Level="3">
  <Info>
    <Parent Key="45bf2ef8-bf80-4e62-935a-7871b89a6ac6">Domain Code</Parent>
    <Path>/CodeTableRoot/DomainCode/</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-07-02T14:10:34</CreateDate>
    <NodeName Default="3 居家護理機構" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[居家護理機構]]></Value>
    </codeValue>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>