<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a817d7d-a8ca-4df5-a498-b160e00d8566" Alias="32-桃園市" Level="2">
  <Info>
    <Parent Key="4f936f6a-3953-48f3-9450-fd6a0b6c1220">Agency Root</Parent>
    <Path>/AgencyRoot/</Path>
    <Trashed>false</Trashed>
    <ContentType>agencyGroup</ContentType>
    <CreateDate>2020-05-20T10:36:13</CreateDate>
    <NodeName Default="32-桃園市" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b292d4d-6b2d-4a7a-b49b-714735fdebca">AgencyGroup</Template>
  </Info>
  <Properties>
    <disableDropdown>
      <Value><![CDATA[0]]></Value>
    </disableDropdown>
    <groupCode>
      <Value><![CDATA[H]]></Value>
    </groupCode>
    <groupName>
      <Value><![CDATA[umb://document/809548617e024f1d8cb537074f6687ff]]></Value>
    </groupName>
    <groupZip>
      <Value><![CDATA[]]></Value>
    </groupZip>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>