<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccdee1c8-c0c5-4c67-b08f-5dc717c7fcf6" Alias="33-新竹縣" Level="2">
  <Info>
    <Parent Key="4f936f6a-3953-48f3-9450-fd6a0b6c1220">Agency Root</Parent>
    <Path>/AgencyRoot/</Path>
    <Trashed>false</Trashed>
    <ContentType>agencyGroup</ContentType>
    <CreateDate>2020-05-20T10:37:21</CreateDate>
    <NodeName Default="33-新竹縣" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b292d4d-6b2d-4a7a-b49b-714735fdebca">AgencyGroup</Template>
  </Info>
  <Properties>
    <disableDropdown>
      <Value><![CDATA[0]]></Value>
    </disableDropdown>
    <groupCode>
      <Value><![CDATA[J]]></Value>
    </groupCode>
    <groupName>
      <Value><![CDATA[umb://document/15a884c628b34bbd96e376622bfc4489]]></Value>
    </groupName>
    <groupZip>
      <Value><![CDATA[]]></Value>
    </groupZip>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>