<?xml version="1.0" encoding="utf-8"?>
<Content Key="09e457fe-98b5-4ec0-bd84-b2a95f05fbd4" Alias="35-苗栗縣" Level="2">
  <Info>
    <Parent Key="4f936f6a-3953-48f3-9450-fd6a0b6c1220">Agency Root</Parent>
    <Path>/AgencyRoot/</Path>
    <Trashed>false</Trashed>
    <ContentType>agencyGroup</ContentType>
    <CreateDate>2020-05-20T10:37:52</CreateDate>
    <NodeName Default="35-苗栗縣" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b292d4d-6b2d-4a7a-b49b-714735fdebca">AgencyGroup</Template>
  </Info>
  <Properties>
    <disableDropdown>
      <Value><![CDATA[0]]></Value>
    </disableDropdown>
    <groupCode>
      <Value><![CDATA[K]]></Value>
    </groupCode>
    <groupName>
      <Value><![CDATA[umb://document/8a1e7edfac6b4df8a37e596acd6ea479]]></Value>
    </groupName>
    <groupZip>
      <Value><![CDATA[]]></Value>
    </groupZip>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>