<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9c8bb51-6605-4b24-b933-cacf6a7d7070" Alias="37-彰化縣" Level="2">
  <Info>
    <Parent Key="4f936f6a-3953-48f3-9450-fd6a0b6c1220">Agency Root</Parent>
    <Path>/AgencyRoot/</Path>
    <Trashed>false</Trashed>
    <ContentType>agencyGroup</ContentType>
    <CreateDate>2020-05-20T10:38:47</CreateDate>
    <NodeName Default="37-彰化縣" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b292d4d-6b2d-4a7a-b49b-714735fdebca">AgencyGroup</Template>
  </Info>
  <Properties>
    <disableDropdown>
      <Value><![CDATA[0]]></Value>
    </disableDropdown>
    <groupCode>
      <Value><![CDATA[N]]></Value>
    </groupCode>
    <groupName>
      <Value><![CDATA[umb://document/5d7216454f954112858780a083b177b0]]></Value>
    </groupName>
    <groupZip>
      <Value><![CDATA[]]></Value>
    </groupZip>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>