<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e7d8b87-3931-48ce-9ec8-c2f997e7860d" Alias="45-花蓮縣" Level="3">
  <Info>
    <Parent Key="b0cd1669-5194-450f-8559-40287c5979c7">Area Code</Parent>
    <Path>/CodeTableRoot/AreaCode/</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-05-20T10:02:46</CreateDate>
    <NodeName Default="45-花蓮縣" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[45]]></Value>
    </codeValue>
    <description>
      <Value><![CDATA[花蓮縣]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>