<?xml version="1.0" encoding="utf-8"?>
<Content Key="f22dd0ed-278f-4943-ae21-37ff3b050694" Alias="90-金門縣" Level="3">
  <Info>
    <Parent Key="b0cd1669-5194-450f-8559-40287c5979c7">Area Code</Parent>
    <Path>/CodeTableRoot/AreaCode/</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-05-20T10:03:39</CreateDate>
    <NodeName Default="90-金門縣" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[90]]></Value>
    </codeValue>
    <description>
      <Value><![CDATA[金門縣]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>