<?xml version="1.0" encoding="utf-8"?>
<Content Key="86e1c8ea-a90c-4403-9147-f5899e2aafab" Alias="90-金門縣" Level="2">
  <Info>
    <Parent Key="4f936f6a-3953-48f3-9450-fd6a0b6c1220">Agency Root</Parent>
    <Path>/AgencyRoot/</Path>
    <Trashed>false</Trashed>
    <ContentType>agencyGroup</ContentType>
    <CreateDate>2020-05-20T10:41:49</CreateDate>
    <NodeName Default="90-金門縣" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b292d4d-6b2d-4a7a-b49b-714735fdebca">AgencyGroup</Template>
  </Info>
  <Properties>
    <disableDropdown>
      <Value><![CDATA[0]]></Value>
    </disableDropdown>
    <groupCode>
      <Value><![CDATA[W]]></Value>
    </groupCode>
    <groupName>
      <Value><![CDATA[umb://document/f22dd0ed278f4943ae2137ff3b050694]]></Value>
    </groupName>
    <groupZip>
      <Value><![CDATA[]]></Value>
    </groupZip>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>