<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f936f6a-3953-48f3-9450-fd6a0b6c1220" Alias="Agency Root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AgencyRoot</Path>
    <Trashed>false</Trashed>
    <ContentType>agencyRoot</ContentType>
    <CreateDate>2020-05-20T10:17:30</CreateDate>
    <NodeName Default="Agency Root" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5ea4fde7-6557-42e2-957f-dfcc11845566">AgencyRoot</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </contentGrid>
    <disableDropdown>
      <Value><![CDATA[0]]></Value>
    </disableDropdown>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <title>
      <Value><![CDATA[機構管理子系統]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>