<?xml version="1.0" encoding="utf-8"?>
<Content Key="2527b0a6-13ec-4f7b-9d77-028b2c32a358" Alias="B-台中市" Level="3">
  <Info>
    <Parent Key="b0cd1669-5194-450f-8559-40287c5979c7">City Code</Parent>
    <Path>/CodeTableRoot/CityCode/B</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-05-18T17:57:42</CreateDate>
    <NodeName Default="B-台中市" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[B]]></Value>
    </codeValue>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <description>
      <Value><![CDATA[台中市]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>