<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d898817-a855-40ab-ad78-5621033999e9" Alias="Committee" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Committee</Path>
    <Trashed>false</Trashed>
    <ContentType>committeeRoot</ContentType>
    <CreateDate>2020-07-02T14:58:55</CreateDate>
    <NodeName Default="Committee" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b25ab852-42c2-4e00-bbce-8bbe5b73856d">CommitteeRoot</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </contentGrid>
    <disableDropdown>
      <Value><![CDATA[0]]></Value>
    </disableDropdown>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <title>
      <Value><![CDATA[儲備委員管理系統]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>