<?xml version="1.0" encoding="utf-8"?>
<Content Key="45bf2ef8-bf80-4e62-935a-7871b89a6ac6" Alias="Domain Code" Level="2">
  <Info>
    <Parent Key="997f69c6-e282-4b74-96b0-4c4fd6ee4e22">Code Table Root</Parent>
    <Path>/CodeTableRoot/DomainCode</Path>
    <Trashed>false</Trashed>
    <ContentType>codeTable</ContentType>
    <CreateDate>2020-07-02T13:59:26</CreateDate>
    <NodeName Default="Domain Code" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9fe60f23-cea7-4122-8b0a-bc6e5b5af1ee">CodeTable</Template>
  </Info>
  <Properties>
    <codeSystemID>
      <Value><![CDATA[]]></Value>
    </codeSystemID>
    <codeSystemName>
      <Value><![CDATA[]]></Value>
    </codeSystemName>
    <codeSystemOID>
      <Value><![CDATA[]]></Value>
    </codeSystemOID>
    <codeSystemSource>
      <Value><![CDATA[[]]]></Value>
    </codeSystemSource>
    <codeSystemURI>
      <Value><![CDATA[]]></Value>
    </codeSystemURI>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>