<?xml version="1.0" encoding="utf-8"?>
<Content Key="e757fd4b-e3e7-48c4-b0bd-de2b6e488841" Alias="M-南投縣" Level="3">
  <Info>
    <Parent Key="b0cd1669-5194-450f-8559-40287c5979c7">City Code</Parent>
    <Path>/CodeTableRoot/CityCode/M</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-05-20T10:00:45</CreateDate>
    <NodeName Default="M-南投縣" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[M]]></Value>
    </codeValue>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <description>
      <Value><![CDATA[南投縣]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>