<?xml version="1.0" encoding="utf-8"?>
<Content Key="d58be68c-4c17-468b-a943-30612c48f01f" Alias="P-雲林縣" Level="3">
  <Info>
    <Parent Key="b0cd1669-5194-450f-8559-40287c5979c7">City Code</Parent>
    <Path>/CodeTableRoot/CityCode/P</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-05-20T10:01:11</CreateDate>
    <NodeName Default="P-雲林縣" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[P]]></Value>
    </codeValue>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <description>
      <Value><![CDATA[雲林縣]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>