<?xml version="1.0" encoding="utf-8"?>
<Content Key="221a3af3-afb7-4645-a33a-6ceb228c7ee5" Alias="V-台東縣" Level="3">
  <Info>
    <Parent Key="b0cd1669-5194-450f-8559-40287c5979c7">City Code</Parent>
    <Path>/CodeTableRoot/CityCode/V</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-05-20T10:03:10</CreateDate>
    <NodeName Default="V-台東縣" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[V]]></Value>
    </codeValue>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <description>
      <Value><![CDATA[台東縣]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>