<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a1c9cee-739f-4a55-bd75-05141bd08349" Alias="X-澎湖縣" Level="3">
  <Info>
    <Parent Key="b0cd1669-5194-450f-8559-40287c5979c7">City Code</Parent>
    <Path>/CodeTableRoot/CityCode/X</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-05-20T10:02:20</CreateDate>
    <NodeName Default="X-澎湖縣" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[X]]></Value>
    </codeValue>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <description>
      <Value><![CDATA[澎湖縣]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>