<?xml version="1.0" encoding="utf-8"?>
<Content Key="245ff74f-f146-4cfe-b16b-608bdc61c202" Alias="學歷紀錄" Level="3">
  <Info>
    <Parent Key="29da044b-efbc-4d4f-8296-00624a3554a5">1</Parent>
    <Path>/Committee//</Path>
    <Trashed>false</Trashed>
    <ContentType>committeeSubgroup</ContentType>
    <CreateDate>2020-07-06T15:13:02</CreateDate>
    <NodeName Default="學歷紀錄" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a06a088d-22c6-4b87-ac67-6693103f96ff">CommitteeSubgroup</Template>
  </Info>
  <Properties />
</Content>