<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c36b04b-e7cb-4416-bee5-e700f8c26a65" Alias="專業照護組" Level="4">
  <Info>
    <Parent Key="64ba3423-cf66-4496-960e-bb79ef44001e">3 居家護理機構</Parent>
    <Path>/CodeTableRoot/DomainCode//</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-07-02T14:12:29</CreateDate>
    <NodeName Default="專業照護組" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[專業照護組]]></Value>
    </codeValue>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>