<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9527921-03b8-48ca-80bd-a6f03c3c6f3c" Alias="專業照護組" Level="4">
  <Info>
    <Parent Key="b9efe09c-8895-443b-a248-bba281ee24f6">2 產後護理之家</Parent>
    <Path>/CodeTableRoot/DomainCode//</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-07-02T14:11:37</CreateDate>
    <NodeName Default="專業照護組" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[專業照護組]]></Value>
    </codeValue>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>