<?xml version="1.0" encoding="utf-8"?>
<Content Key="b87cf73e-edf1-4c93-be92-2e9071593d89" Alias="環境組" Level="4">
  <Info>
    <Parent Key="76cd50ba-5781-4ce9-8e4f-ccf53b2bebc7">1</Parent>
    <Path>/CodeTableRoot/DomainCode//</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-07-02T14:08:29</CreateDate>
    <NodeName Default="環境組" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[環境組]]></Value>
    </codeValue>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>