<?xml version="1.0" encoding="utf-8"?>
<Content Key="1adad114-7a4a-4695-be88-011b1bd05e1a" Alias="管理組" Level="4">
  <Info>
    <Parent Key="76cd50ba-5781-4ce9-8e4f-ccf53b2bebc7">1</Parent>
    <Path>/CodeTableRoot/DomainCode//</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-07-02T14:07:45</CreateDate>
    <NodeName Default="管理組" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[管理組]]></Value>
    </codeValue>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>