<?xml version="1.0" encoding="utf-8"?>
<Content Key="a06b16f9-c27a-4f70-a98f-3be918376d2f" Alias="經歷紀錄" Level="3">
  <Info>
    <Parent Key="29da044b-efbc-4d4f-8296-00624a3554a5">1</Parent>
    <Path>/Committee//</Path>
    <Trashed>false</Trashed>
    <ContentType>committeeSubgroup</ContentType>
    <CreateDate>2020-07-06T15:25:50</CreateDate>
    <NodeName Default="經歷紀錄" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a06a088d-22c6-4b87-ac67-6693103f96ff">CommitteeSubgroup</Template>
  </Info>
  <Properties />
</Content>