<?xml version="1.0" encoding="utf-8"?>
<Content Key="f321a8fa-5903-438b-90b1-29f3870c2163" Alias="經營管理組" Level="4">
  <Info>
    <Parent Key="64ba3423-cf66-4496-960e-bb79ef44001e">3 居家護理機構</Parent>
    <Path>/CodeTableRoot/DomainCode//</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-07-02T14:12:14</CreateDate>
    <NodeName Default="經營管理組" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[經營管理組]]></Value>
    </codeValue>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>