<?xml version="1.0" encoding="utf-8"?>
<Content Key="736bc4e8-afd3-4e07-9981-410b79c81506" Alias="聯絡人" Level="4">
  <Info>
    <Parent Key="c3542147-761a-4879-97f2-8c17d66b3bb4">1111111111</Parent>
    <Path>/AgencyRoot///</Path>
    <Trashed>false</Trashed>
    <ContentType>contacts</ContentType>
    <CreateDate>2020-06-30T16:33:47</CreateDate>
    <NodeName Default="聯絡人" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <addressType>
      <Value><![CDATA[]]></Value>
    </addressType>
    <areaCode>
      <Value><![CDATA[11]]></Value>
    </areaCode>
    <areaName>
      <Value><![CDATA[sssss]]></Value>
    </areaName>
    <birthday>
      <Value><![CDATA[]]></Value>
    </birthday>
    <countryCode>
      <Value><![CDATA[886]]></Value>
    </countryCode>
    <department>
      <Value><![CDATA[]]></Value>
    </department>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <extension>
      <Value><![CDATA[100]]></Value>
    </extension>
    <familyName>
      <Value><![CDATA[aa]]></Value>
    </familyName>
    <fullName>
      <Value><![CDATA[]]></Value>
    </fullName>
    <gender>
      <Value><![CDATA[]]></Value>
    </gender>
    <givenName>
      <Value><![CDATA[bb]]></Value>
    </givenName>
    <jobTitle>
      <Value><![CDATA[]]></Value>
    </jobTitle>
    <mobile>
      <Value><![CDATA[]]></Value>
    </mobile>
    <nickName>
      <Value><![CDATA[]]></Value>
    </nickName>
    <phoneAreaCode>
      <Value><![CDATA[02]]></Value>
    </phoneAreaCode>
    <sID>
      <Value><![CDATA[]]></Value>
    </sID>
    <stressAddress>
      <Value><![CDATA[aaaaa]]></Value>
    </stressAddress>
    <telephoneNumber>
      <Value><![CDATA[14254]]></Value>
    </telephoneNumber>
    <webSite>
      <Value><![CDATA[]]></Value>
    </webSite>
    <zipCode>
      <Value><![CDATA[11]]></Value>
    </zipCode>
    <zipName>
      <Value><![CDATA[wwwww]]></Value>
    </zipName>
  </Properties>
</Content>