<?xml version="1.0" encoding="utf-8"?>
<Content Key="736bc4e8-afd3-4e07-9981-410b79c81506" Alias="聯絡人" Level="4">
  <Info>
    <Parent Key="c3542147-761a-4879-97f2-8c17d66b3bb4">1111111111</Parent>
    <Path>/AgencyRoot///</Path>
    <Trashed>false</Trashed>
    <ContentType>contacts</ContentType>
    <CreateDate>2020-06-30T16:33:47</CreateDate>
    <NodeName Default="聯絡人" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tEL>
      <Value><![CDATA[[{"key":"63650905-c404-4560-aa16-dad6038a96dc","name":"Item 1","ncContentTypeAlias":"telElement","telephoneNumber":"","countryCode":"","phoneAreaCode":"","extension":"","mobile":"","email":"","webSite":"","fax":""}]]]></Value>
    </tEL>
  </Properties>
</Content>