<?xml version="1.0" encoding="utf-8"?>
<Content Key="b32cbbbd-d737-4066-ad23-cf40e585030d" Alias="評鑑紀錄" Level="3">
  <Info>
    <Parent Key="29da044b-efbc-4d4f-8296-00624a3554a5">1</Parent>
    <Path>/Committee//</Path>
    <Trashed>false</Trashed>
    <ContentType>committeeSubgroup</ContentType>
    <CreateDate>2020-07-06T16:16:59</CreateDate>
    <NodeName Default="評鑑紀錄" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a06a088d-22c6-4b87-ac67-6693103f96ff">CommitteeSubgroup</Template>
  </Info>
  <Properties />
</Content>