<?xml version="1.0" encoding="utf-8"?>
<Content Key="407d016c-8e3a-4385-9738-aecca9320506" Alias="負責人" Level="4">
  <Info>
    <Parent Key="c3542147-761a-4879-97f2-8c17d66b3bb4">1111111111</Parent>
    <Path>/AgencyRoot///</Path>
    <Trashed>false</Trashed>
    <ContentType>principal</ContentType>
    <CreateDate>2020-06-30T16:34:19</CreateDate>
    <NodeName Default="負責人" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <addressType>
      <Value><![CDATA[]]></Value>
    </addressType>
    <areaCode>
      <Value><![CDATA[222]]></Value>
    </areaCode>
    <areaName>
      <Value><![CDATA[dsfdsafdsaf]]></Value>
    </areaName>
    <birthday>
      <Value><![CDATA[]]></Value>
    </birthday>
    <countryCode>
      <Value><![CDATA[]]></Value>
    </countryCode>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <extension>
      <Value><![CDATA[]]></Value>
    </extension>
    <familyName>
      <Value><![CDATA[]]></Value>
    </familyName>
    <fullName>
      <Value><![CDATA[]]></Value>
    </fullName>
    <gender>
      <Value><![CDATA[]]></Value>
    </gender>
    <givenName>
      <Value><![CDATA[]]></Value>
    </givenName>
    <isPartTime>
      <Value><![CDATA[0]]></Value>
    </isPartTime>
    <mobile>
      <Value><![CDATA[]]></Value>
    </mobile>
    <nickName>
      <Value><![CDATA[]]></Value>
    </nickName>
    <phoneAreaCode>
      <Value><![CDATA[]]></Value>
    </phoneAreaCode>
    <sID>
      <Value><![CDATA[]]></Value>
    </sID>
    <stressAddress>
      <Value><![CDATA[fsdfdsfds]]></Value>
    </stressAddress>
    <telephoneNumber>
      <Value><![CDATA[]]></Value>
    </telephoneNumber>
    <webSite>
      <Value><![CDATA[]]></Value>
    </webSite>
    <zipCode>
      <Value><![CDATA[33]]></Value>
    </zipCode>
    <zipName>
      <Value><![CDATA[]]></Value>
    </zipName>
  </Properties>
</Content>