<?xml version="1.0" encoding="utf-8"?>
<Content Key="1aa8f2ca-9cf2-485b-8a13-488538d58098" Alias="醫護及管理組" Level="4">
  <Info>
    <Parent Key="76cd50ba-5781-4ce9-8e4f-ccf53b2bebc7">1</Parent>
    <Path>/CodeTableRoot/DomainCode//</Path>
    <Trashed>false</Trashed>
    <ContentType>codeItem</ContentType>
    <CreateDate>2020-07-02T14:08:56</CreateDate>
    <NodeName Default="醫護及管理組" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <codeValue>
      <Value><![CDATA[]]></Value>
    </codeValue>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
    <isExpire>
      <Value><![CDATA[0]]></Value>
    </isExpire>
  </Properties>
</Content>