<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8726a1e-f4d8-45b1-9382-82cde10735d1" Alias="Address Data" Level="2">
  <Info>
    <Name>Address Data</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nest+Content+Type</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "addressElement",
      "ncTabAlias": "Address",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>