<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d05c1afe-b2c6-4ed0-ae43-631a819536e3" Alias="Agency - Agency Author - Dropdown" Level="1">
  <Info>
    <Name>Agency - Agency Author - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "部立"
    },
    {
      "id": 2,
      "value": "教育部"
    },
    {
      "id": 3,
      "value": "國防部"
    },
    {
      "id": 4,
      "value": "退輔會"
    },
    {
      "id": 5,
      "value": "縣（市）立"
    },
    {
      "id": 6,
      "value": "衛生所"
    },
    {
      "id": 7,
      "value": "醫療財團法人"
    },
    {
      "id": 8,
      "value": "醫療社團法人"
    },
    {
      "id": 9,
      "value": "衛生財團法人"
    },
    {
      "id": 10,
      "value": "學校法人"
    },
    {
      "id": 11,
      "value": "其他法人"
    },
    {
      "id": 12,
      "value": "個人設置"
    },
    {
      "id": 13,
      "value": "醫院附設"
    },
    {
      "id": 14,
      "value": "診所附設"
    }
  ]
}]]></Config>
</DataType>