<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e2eba5ad-546c-4f7a-a228-ea2bb6c2fe74" Alias="Agency - Accreditation Type - Dropdown" Level="1">
  <Info>
    <Name>Agency - Accreditation Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "一般護理機家"
    },
    {
      "id": 2,
      "value": "產後護理之家"
    },
    {
      "id": 3,
      "value": "居家護理機構"
    }
  ]
}]]></Config>
</DataType>