<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d498bbe-9bd9-4286-a161-3d90c74bc6f2" Alias="Agency - Agency Type - Dropdown" Level="1">
  <Info>
    <Name>Agency - Agency Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "醫院附設"
    },
    {
      "id": 2,
      "value": "診所附設"
    },
    {
      "id": 3,
      "value": "衛生所附設"
    },
    {
      "id": 4,
      "value": "獨立型態"
    }
  ]
}]]></Config>
</DataType>