<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d7fd683-1d4f-41f8-8274-e163234afc4d" Alias="Agency Group - Group Name - Content Picker" Level="1">
  <Info>
    <Name>Agency Group - Group Name - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/b0cd16695194450f855940287c5979c7",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>