<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48a36b27-bd69-47d3-ac1d-d644bf1b95be" Alias="Code System - Code System URI - Textbox" Level="1">
  <Info>
    <Name>Code System - Code System URI - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>