<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9736baa-d98a-4830-ae73-4fd82cc68f4d" Alias="Code System - Code System Source - Dropdown" Level="1">
  <Info>
    <Name>Code System - Code System Source - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 11,
      "value": "自訂"
    },
    {
      "id": 1,
      "value": "HL7 v2"
    },
    {
      "id": 2,
      "value": "HL7 v3"
    },
    {
      "id": 3,
      "value": "FHIR"
    },
    {
      "id": 4,
      "value": "SNOMED CT"
    },
    {
      "id": 5,
      "value": "LOINC"
    },
    {
      "id": 6,
      "value": "RxNorm"
    },
    {
      "id": 7,
      "value": "DICOM"
    },
    {
      "id": 8,
      "value": "CPT"
    },
    {
      "id": 9,
      "value": "ICD-9"
    },
    {
      "id": 10,
      "value": "ICD-10"
    }
  ]
}]]></Config>
</DataType>