<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9b5e7fe-f495-4316-a895-a5044deb829f" Alias="Committee - Avoid Reasons - Repeatable strings" Level="1">
  <Info>
    <Name>Committee - Avoid Reasons - Repeatable strings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 0
}]]></Config>
</DataType>