<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bfc0bb7-895a-4261-98cf-4296b2c5c331" Alias="Contact Person Control - Contact ID - Textbox" Level="1">
  <Info>
    <Name>Contact Person Control - Contact ID - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 10
}]]></Config>
</DataType>