<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3992ee38-78d3-4b7c-a385-7eeb117f67a6" Alias="Degree Data" Level="2">
  <Info>
    <Name>Degree Data</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nest+Content+Type</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "degreenElement",
      "ncTabAlias": "Degree",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>