<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7d23022-4bbc-4919-9e45-18cb23953ba9" Alias="Evaluation Data" Level="2">
  <Info>
    <Name>Evaluation Data</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nest+Content+Type</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "evaluationElement",
      "ncTabAlias": "Evaluation",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>