<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f856fb28-9c22-43e1-a5d4-3e0c47aa9752" Alias="Identity Data" Level="2">
  <Info>
    <Name>Identity Data</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nest+Content+Type</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "identifyElement",
      "ncTabAlias": "Identify",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>