<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7293598-3db5-4165-a2f4-234718fd6ad5" Alias="Life Style Data" Level="2">
  <Info>
    <Name>Life Style Data</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nest+Content+Type</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "lifeStyleElement",
      "ncTabAlias": "LifeStyle",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>