<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce4c90d7-7b61-441e-9ec5-2de16f9bb409" Alias="Name Data" Level="2">
  <Info>
    <Name>Name Data</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nest+Content+Type</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "nameElement",
      "ncTabAlias": "Name",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>