<?xml version="1.0" encoding="utf-8"?>
<DataType Key="20a28d7f-aa3b-4cd9-9628-3f400d12920d" Alias="School Data" Level="2">
  <Info>
    <Name>School Data</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nest+Content+Type</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "schoolElement",
      "ncTabAlias": "School",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>