<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8ef89be0-eff7-4c79-aaf6-82ba2b924b96" Alias="TEL Data" Level="2">
  <Info>
    <Name>TEL Data</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nest+Content+Type</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "telElement",
      "ncTabAlias": "TEL",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>