<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3be97c5-6654-44a9-8df3-934ef32ce5f4" Alias="Using Status - Is Active - Checkbox" Level="1">
  <Info>
    <Name>Using Status - Is Active - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": "使用中"
}]]></Config>
</DataType>