<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5e738490-9f7a-40be-9c0e-8afd82bdbd88" Alias="address" Level="3">
  <Info>
    <Name>Address</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>FHIR-地址</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Data+Types/FHIR</Folder>
    <Compositions>
      <Composition Key="05dff35c-2d66-47eb-93e4-4c1001f83a88">addressExt</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b8686fa3-8246-47b5-8f5e-aad5e9e38d50</Key>
      <Name>City</Name>
      <Alias>city</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[縣市]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ea2be9bb-670f-4b7f-a893-c8c43ab54aea</Key>
      <Name>Country</Name>
      <Alias>country</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[國別]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>05b8f901-7bc6-4c6f-af3d-5f7dc341fe04</Key>
      <Name>District</Name>
      <Alias>district</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[鄉鎮市區]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4aa92fec-4fae-4ff0-bb31-741b50414c8a</Key>
      <Name>Line</Name>
      <Alias>line</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[地址列]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>beb68c98-6be6-42b5-8a9c-ddefaaec0512</Key>
      <Name>Period</Name>
      <Alias>period</Alias>
      <Definition>06cfa1c2-77de-43a9-acb5-260014e70b49</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[有效期間]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6d5b54b4-9f48-438c-a353-2ea3c26c37ef</Key>
      <Name>postalCode</Name>
      <Alias>postalCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[郵遞區號]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8e3b02a9-4153-48a2-a53a-e530b89da5c6</Key>
      <Name>State</Name>
      <Alias>state</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[省]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>da95fefa-b91d-4e01-9587-7213ab65b1ee</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[完整地址]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a534fcf2-09c5-481e-bac8-7698f782bf6d</Key>
      <Name>Type</Name>
      <Alias>type</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[類別]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4e1be58e-1fc0-4576-a5c4-13d736914716</Key>
      <Name>Use</Name>
      <Alias>use</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[使用於]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Address</Caption>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>