<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca9b2e8c-d171-40a6-848b-8c3679740aad" Alias="addressElement" Level="2">
  <Info>
    <Name>Address Element</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>地址</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Data+Types+Element</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7cdf592f-79ad-4219-ba88-96020af641af</Key>
      <Name>Address Type</Name>
      <Alias>addressType</Alias>
      <Definition>3a30dfc6-dc2b-4f24-81b1-d25516ef6d92</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[地址類別]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ee5fa13f-0f2e-45b9-a802-874c48fca91c</Key>
      <Name>AreaCode</Name>
      <Alias>areaCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[縣市代碼]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>54b47217-9141-48c3-a462-04c224a3fa68</Key>
      <Name>Area Name</Name>
      <Alias>areaName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[縣市名稱]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6b0c9936-6d42-4a12-8b77-813354ca476a</Key>
      <Name>City Code</Name>
      <Alias>cityCode</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[縣市代碼]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>97c50a64-52c4-4494-82f0-b881e6242e28</Key>
      <Name>Stress Address</Name>
      <Alias>stressAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[地址-街道名稱]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>930ca244-b879-4b95-92f3-2158fdd89996</Key>
      <Name>Town Code</Name>
      <Alias>townCode</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[鄉鎮市區代碼]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b632bc91-4868-4654-95f0-c497f9cfbc3b</Key>
      <Name>WebSite</Name>
      <Alias>webSite</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[網址]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>95bf8ccf-d3fb-45f6-ace2-ea2d5a8e8b9f</Key>
      <Name>Zip Code</Name>
      <Alias>zipCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[鄉鎮市區Zip碼]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>288bb009-a3ce-46c7-8ed9-efeb18aec687</Key>
      <Name>Zip Name</Name>
      <Alias>zipName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[鄉鎮市區名稱]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Address</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>