<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c9e5bdff-4d70-4dd5-9a63-5053f53509b2" Alias="agencyRoot" Level="2">
  <Info>
    <Name>Agency Root</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>機構管理根目錄</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Agency+Module</Folder>
    <Compositions>
      <Composition Key="56a38577-d239-4077-b813-f62a462ff522">contentControls</Composition>
      <Composition Key="6e298145-5eb7-46a2-9b94-a67315749d3e">navigationControls</Composition>
    </Compositions>
    <DefaultTemplate>AgencyRoot</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5ea4fde7-6557-42e2-957f-dfcc11845566">AgencyRoot</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ded2f678-15d6-4924-9887-53fa3a402f32" SortOrder="0">agencyGroup</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>