<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ded2f678-15d6-4924-9887-53fa3a402f32" Alias="agencyGroup" Level="2">
  <Info>
    <Name>Agency Group</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>縣市別</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Agency+Module</Folder>
    <Compositions>
      <Composition Key="6e298145-5eb7-46a2-9b94-a67315749d3e">navigationControls</Composition>
    </Compositions>
    <DefaultTemplate>AgencyGroup</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1b292d4d-6b2d-4a7a-b49b-714735fdebca">AgencyGroup</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6b99372f-c4ac-4345-bbe1-3488bfce7aa7" SortOrder="0">agency</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d26faeaa-c712-449f-9edd-0583d1888ae9</Key>
      <Name>Group Code</Name>
      <Alias>groupCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[縣市代碼 - 開放資料]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Group</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>be92f8c5-cb9f-4601-9c70-a9ec0d075f22</Key>
      <Name>Group Name</Name>
      <Alias>groupName</Alias>
      <Definition>0d7fd683-1d4f-41f8-8274-e163234afc4d</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[縣市名稱]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Group</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8bc9118a-3793-46fc-bed7-cf5eae6ba962</Key>
      <Name>Group Zip</Name>
      <Alias>groupZip</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[縣市zip code]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Group</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Group</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>