<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b99372f-c4ac-4345-bbe1-3488bfce7aa7" Alias="agency" Level="2">
  <Info>
    <Name>Agency</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>機構</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Agency+Module</Folder>
    <Compositions />
    <DefaultTemplate>Agency</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8992ff23-f5fb-45a7-836a-4f1052a5b793">Agency</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6b99372f-c4ac-4345-bbe1-3488bfce7aa7" SortOrder="0">agency</ContentType>
    <ContentType Key="c0716bbf-45d7-41a5-ad1c-eb44451e375e" SortOrder="1">contacts</ContentType>
    <ContentType Key="30b62cbd-d7af-42ce-ab1e-a5125d0d9025" SortOrder="2">principal</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>edf995a0-0743-4caf-916f-3222c445a7ff</Key>
      <Name>Accreditation Type</Name>
      <Alias>accreditationType</Alias>
      <Definition>e2eba5ad-546c-4f7a-a228-ea2bb6c2fe74</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[評鑑類別]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>評鑑</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9497857f-deab-4d6b-94bf-12fc0ce095d3</Key>
      <Name>Address</Name>
      <Alias>address</Alias>
      <Definition>c8726a1e-f4d8-45b1-9382-82cde10735d1</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[機構地址]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4bb95674-50a3-4835-b83d-2fa308bced74</Key>
      <Name>Agency Alias</Name>
      <Alias>agencyAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[機構簡稱]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>基本</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>98e52914-d837-4e59-93cd-1f3bd26f28b6</Key>
      <Name>Agency Author</Name>
      <Alias>agencyAuthor</Alias>
      <Definition>d05c1afe-b2c6-4ed0-ae43-631a819536e3</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[機構權屬別]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>基本</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5a548e66-baf5-4481-862c-796afdd661b1</Key>
      <Name>Agency ID</Name>
      <Alias>agencyID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[機構代碼-健保]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>基本</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1bb437a6-d52f-4d80-8d13-9b5f2eaa8cd1</Key>
      <Name>Agency Name</Name>
      <Alias>agencyName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[機構名稱]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>基本</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b811e699-fcf2-4445-adb1-23ab2a23301b</Key>
      <Name>Agency Status</Name>
      <Alias>agencyStatus</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[機構狀態]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>基本</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>27563cde-e80e-4f10-98b0-b753c6ea3db7</Key>
      <Name>Agency Type</Name>
      <Alias>agencyType</Alias>
      <Definition>4d498bbe-9bd9-4286-a161-3d90c74bc6f2</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[經營型態]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>基本</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6e81e355-0366-4c5c-8cf6-9d39f4374fc9</Key>
      <Name>Is HQ</Name>
      <Alias>isHQ</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[是否為本院]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>基本</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>895c8232-b9ce-4005-a48e-2a5263682459</Key>
      <Name>TEL</Name>
      <Alias>tEL</Alias>
      <Definition>8ef89be0-eff7-4c79-aaf6-82ba2b924b96</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[機構通訊]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>TEL</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>基本</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>評鑑</Caption>
      <SortOrder>11</SortOrder>
    </Tab>
    <Tab>
      <Caption>Address</Caption>
      <SortOrder>12</SortOrder>
    </Tab>
    <Tab>
      <Caption>TEL</Caption>
      <SortOrder>13</SortOrder>
    </Tab>
  </Tabs>
</ContentType>