<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="806e9e2a-58a9-4e00-91e0-a98e17ff86ee" Alias="articleList" Level="1">
  <Info>
    <Name>Article List</Name>
    <Icon>icon-thumbnail-list color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="58023b60-47a4-4fc1-97b8-879798aa18ca">latestArticlesControls</Composition>
      <Composition Key="94df461c-c150-492b-8e63-4a0dfbe1525a">metaDataControls</Composition>
      <Composition Key="6e298145-5eb7-46a2-9b94-a67315749d3e">navigationControls</Composition>
      <Composition Key="65737c72-b6e3-4852-9d32-e51dd3e103fb">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>ArticleList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="170c2b35-c6ee-407f-a7b3-e83a918755d3">ArticleList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="025318fb-0d68-46e3-b604-e6da3ce94784" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>