<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="025318fb-0d68-46e3-b604-e6da3ce94784" Alias="article" Level="1">
  <Info>
    <Name>Article</Name>
    <Icon>icon-newspaper-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="077b2e9d-980b-4034-ad05-78e0835e8478">articleControls</Composition>
      <Composition Key="56a38577-d239-4077-b813-f62a462ff522">contentControls</Composition>
      <Composition Key="94df461c-c150-492b-8e63-4a0dfbe1525a">metaDataControls</Composition>
      <Composition Key="6e298145-5eb7-46a2-9b94-a67315749d3e">navigationControls</Composition>
      <Composition Key="65737c72-b6e3-4852-9d32-e51dd3e103fb">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="de8bb872-a0b8-4d9e-8492-367ddeb28c12">Article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>