<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3b113f19-999e-41b8-916b-a9db629d78e3" Alias="codeTable" Level="2">
  <Info>
    <Name>Code Table</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>參照表名稱</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Code+Table+Module</Folder>
    <Compositions>
      <Composition Key="a002e129-0016-495c-8f7c-a618614620d4">codeSystem</Composition>
      <Composition Key="23b9a246-133d-4bb7-8ac2-e0559fc631f2">usingStatus</Composition>
    </Compositions>
    <DefaultTemplate>CodeTable</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9fe60f23-cea7-4122-8b0a-bc6e5b5af1ee">CodeTable</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="aa167a08-a40e-45d5-aeec-6e31151bfd39" SortOrder="0">codeItem</ContentType>
    <ContentType Key="3b113f19-999e-41b8-916b-a9db629d78e3" SortOrder="1">codeTable</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>