<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cd3ba3bb-0f56-40a2-baae-6e3b6b12cb37" Alias="codeableConcept" Level="3">
  <Info>
    <Name>Codeable Concept</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>FHIR</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Data+Types+Element/FHIR</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>42d4c6ec-5466-4001-9276-e5597c286b49</Key>
      <Name>Coding</Name>
      <Alias>coding</Alias>
      <Definition>b21d252c-44de-45a4-9e17-f51dafb996ad</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>CodeableConcept</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b74e3f19-e1ae-47a8-8662-2eaede31162d</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>CodeableConcept</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>CodeableConcept</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>