<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a002e129-0016-495c-8f7c-a618614620d4" Alias="codeSystem" Level="2">
  <Info>
    <Name>Code System</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9c478afa-7894-4614-a5be-6a4ab3fca9cf</Key>
      <Name>Code System ID</Name>
      <Alias>codeSystemID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[編碼系統之ID]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Code System</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a01b556a-3d20-4286-a231-9d1bd2b81768</Key>
      <Name>Code System Name</Name>
      <Alias>codeSystemName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[編碼系統名稱]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Code System</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6dbc1e94-ed6e-49e3-95b9-33d432c52185</Key>
      <Name>Code System OID</Name>
      <Alias>codeSystemOID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[編碼系統OID]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Code System</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e8418b3a-278b-411d-92ce-0994ceff3b4d</Key>
      <Name>Code System Source</Name>
      <Alias>codeSystemSource</Alias>
      <Definition>f9736baa-d98a-4830-ae73-4fd82cc68f4d</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[編碼系統來源]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Code System</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>47224463-7b93-42ed-8cd3-5ff8651b1d03</Key>
      <Name>Code System URI</Name>
      <Alias>codeSystemURI</Alias>
      <Definition>48a36b27-bd69-47d3-ac1d-d644bf1b95be</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}</Validation>
      <Description><![CDATA[編碼系統URI]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Code System</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Code System</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>