<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="75121a92-d533-44a9-b92f-c03a7010bc1d" Alias="codeTableRoot" Level="2">
  <Info>
    <Name>Code Table Root</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>參照表清單根目錄</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Code+Table+Module</Folder>
    <Compositions />
    <DefaultTemplate>CodeTableRoot</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="19b88e10-f91d-4e60-9e62-83a363b05328">CodeTableRoot</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3b113f19-999e-41b8-916b-a9db629d78e3" SortOrder="0">codeTable</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>