<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eef9e6a6-dbab-4f30-b33b-fc79f1863d58" Alias="coding" Level="3">
  <Info>
    <Name>Coding</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>FHIR</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Data+Types/FHIR</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1eb14cbd-5404-44db-a259-ab8d00f550ba</Key>
      <Name>Code</Name>
      <Alias>code</Alias>
      <Definition>cda07762-cbb4-4325-ac02-416e03e0096c</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Coding</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1ff41f58-56da-464d-a613-b4c58f589723</Key>
      <Name>Display</Name>
      <Alias>display</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Coding</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4eeac642-1bc0-4384-9114-7ce7e8fa06bb</Key>
      <Name>System</Name>
      <Alias>system</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[編碼系統名稱]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Coding</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4304d6b4-518e-46cb-9d6b-005157cf71c1</Key>
      <Name>userSelected</Name>
      <Alias>userSelected</Alias>
      <Definition>eaa5f173-cb44-424b-962b-2f5402f061df</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Coding</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e79420c3-9db5-4bad-beab-bc8442f7c0aa</Key>
      <Name>Version</Name>
      <Alias>version</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[版本]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Coding</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Coding</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>