<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="03ef08db-00e4-4076-a8ce-697efe5cf669" Alias="committee" Level="2">
  <Info>
    <Name>Committee</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>委員</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Committee+Module</Folder>
    <Compositions />
    <DefaultTemplate>Committee</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a4f439c5-5dc2-4e3f-9853-255d2cd3f210">Committee</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e8fd6434-4443-4a2e-a3dd-a68c7b391367" SortOrder="0">committeeSubgroup</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d669448a-32e0-468a-b6b0-b2822a81b96d</Key>
      <Name>Avoid Reasons</Name>
      <Alias>avoidReasons</Alias>
      <Definition>d9b5e7fe-f495-4316-a895-a5044deb829f</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[迴避原因]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Avoid</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>49cd63a9-1c2e-495d-974e-8dd361cecb34</Key>
      <Name>Chinese Name</Name>
      <Alias>chineseName</Alias>
      <Definition>ce4c90d7-7b61-441e-9ec5-2de16f9bb409</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[中文姓名]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Name</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4f26efa1-b48e-495a-b013-f87c6d2ace5d</Key>
      <Name>Committee Type</Name>
      <Alias>committeeType</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[委員代表 1：學術 2：實務]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Identify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a16ae45b-0f8d-4967-99be-72b2b67489ea</Key>
      <Name>English Name</Name>
      <Alias>englishName</Alias>
      <Definition>ce4c90d7-7b61-441e-9ec5-2de16f9bb409</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[英文姓名]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Name</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>518f9c7d-e9e5-41dd-becf-3c1cae0ed0bb</Key>
      <Name>Home Address</Name>
      <Alias>homeAddress</Alias>
      <Definition>c8726a1e-f4d8-45b1-9382-82cde10735d1</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[住家地址]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>11d85f2f-c529-4a72-ba99-68033ce14cbb</Key>
      <Name>Identity</Name>
      <Alias>identity</Alias>
      <Definition>f856fb28-9c22-43e1-a5d4-3e0c47aa9752</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[辨識資料]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Identify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>eaa66d39-b429-4344-9986-7f7f62689089</Key>
      <Name>Occupation</Name>
      <Alias>occupation</Alias>
      <Definition>14fbf5f5-5d2f-4f13-95ca-2290695f792e</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[職業資訊]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Occupation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e3e7b4ee-6425-4e73-bdce-c5565db8a555</Key>
      <Name>Office Address</Name>
      <Alias>officeAddress</Alias>
      <Definition>c8726a1e-f4d8-45b1-9382-82cde10735d1</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[辦公室地址]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>34ebc253-873b-4a51-ae37-9040e27aca45</Key>
      <Name>Resident Address</Name>
      <Alias>residentAddress</Alias>
      <Definition>c8726a1e-f4d8-45b1-9382-82cde10735d1</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[戶籍地址]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e60bf06d-6842-4f74-81b6-384d504c5edb</Key>
      <Name>TEL Data</Name>
      <Alias>tELData</Alias>
      <Definition>8ef89be0-eff7-4c79-aaf6-82ba2b924b96</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[聯絡方式]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>TEL</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Name</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Identify</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Address</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>TEL</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Occupation</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Avoid</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>