<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebcb97e7-892b-4838-b8c2-a1376ab0838b" Alias="committeeRoot" Level="2">
  <Info>
    <Name>Committee Root</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>委員根目錄</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Committee+Module</Folder>
    <Compositions>
      <Composition Key="56a38577-d239-4077-b813-f62a462ff522">contentControls</Composition>
      <Composition Key="6e298145-5eb7-46a2-9b94-a67315749d3e">navigationControls</Composition>
    </Compositions>
    <DefaultTemplate>CommitteeRoot</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b25ab852-42c2-4e00-bbce-8bbe5b73856d">CommitteeRoot</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="03ef08db-00e4-4076-a8ce-697efe5cf669" SortOrder="0">committee</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>