<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e8fd6434-4443-4a2e-a3dd-a68c7b391367" Alias="committeeSubgroup" Level="2">
  <Info>
    <Name>Committee Subgroup</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Committee+Module</Folder>
    <Compositions />
    <DefaultTemplate>CommitteeSubgroup</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a06a088d-22c6-4b87-ac67-6693103f96ff">CommitteeSubgroup</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c0120079-f0be-4c30-b8b9-f4b7ff0c2036" SortOrder="0">educationHistory</ContentType>
    <ContentType Key="b2f2df2f-7e8c-46d4-82ef-d6190700c3e1" SortOrder="1">experimentHistory</ContentType>
    <ContentType Key="d71253da-9fb1-4963-9528-69a14fb6d306" SortOrder="2">evaluationHistory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>