<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8f41e880-3e43-40e8-8ba8-a1d8994b5cc6" Alias="contactPointExt" Level="3">
  <Info>
    <Name>ContactPointExt</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Data+Types+Element/Extension</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b2b03c9d-2560-494a-8321-42cbdd3beae8</Key>
      <Name>Extension</Name>
      <Alias>extension</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>50</SortOrder>
      <Tab>ContactPoint</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>ContactPoint</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>