<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c0716bbf-45d7-41a5-ad1c-eb44451e375e" Alias="contacts" Level="2">
  <Info>
    <Name>Contacts</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>聯絡人</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Agency+Module</Folder>
    <Compositions>
      <Composition Key="94ace816-a4be-4b55-a80e-eba218e968c1">personControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>