<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f27fb15c-92c6-41d3-8b1a-892ce2c4e529" Alias="contact" Level="1">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-message color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="94df461c-c150-492b-8e63-4a0dfbe1525a">metaDataControls</Composition>
      <Composition Key="6e298145-5eb7-46a2-9b94-a67315749d3e">navigationControls</Composition>
      <Composition Key="65737c72-b6e3-4852-9d32-e51dd3e103fb">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="814b6611-dc37-42e8-b7d3-7135214d70ae">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>