<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="27e2858d-a691-4b1c-8471-d5e5fd9b6967" Alias="contactPoint" Level="3">
  <Info>
    <Name>Contact Point</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>FHIR-聯絡方式</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Data+Types/FHIR</Folder>
    <Compositions>
      <Composition Key="8f41e880-3e43-40e8-8ba8-a1d8994b5cc6">contactPointExt</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9cae7ec8-cd4d-4d57-b612-689ec69ffd8a</Key>
      <Name>Period</Name>
      <Alias>period</Alias>
      <Definition>06cfa1c2-77de-43a9-acb5-260014e70b49</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[有效期間]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>ContactPoint</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dcbcc695-daad-4ef6-88db-7ac93190cdc5</Key>
      <Name>Rank</Name>
      <Alias>rank</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[等級，優先序]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>ContactPoint</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>17cff20c-e5ad-43e4-b67e-1ba18f82c2b6</Key>
      <Name>System</Name>
      <Alias>system</Alias>
      <Definition>b51b9172-1306-4332-b760-5d6f69412c14</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[通訊系統]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>ContactPoint</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>64e32608-95a2-419c-b021-48033a92d3dc</Key>
      <Name>Use</Name>
      <Alias>use</Alias>
      <Definition>693e2abf-de09-44df-8141-fdb32be103c3</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[使用點]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>ContactPoint</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7c78d9d2-3d62-410a-bbe1-51d007acf415</Key>
      <Name>Value</Name>
      <Alias>value</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[通訊內容值]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>ContactPoint</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>ContactPoint</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>