<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bfc10f5b-5cbd-4ce6-a8e0-80c092f03993" Alias="content" Level="1">
  <Info>
    <Name>Content</Name>
    <Icon>icon-document color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="56a38577-d239-4077-b813-f62a462ff522">contentControls</Composition>
      <Composition Key="94df461c-c150-492b-8e63-4a0dfbe1525a">metaDataControls</Composition>
      <Composition Key="6e298145-5eb7-46a2-9b94-a67315749d3e">navigationControls</Composition>
      <Composition Key="65737c72-b6e3-4852-9d32-e51dd3e103fb">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="437507af-0359-45bb-b4f4-51383eefd97c">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>