<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a8167214-a1ce-474c-9e36-6670d37784b8" Alias="contactPersonControl" Level="2">
  <Info>
    <Name>Contact Person Control</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>869ff0da-8c87-4387-90e9-36e0c0f75ce4</Key>
      <Name>Contact Department</Name>
      <Alias>contactDepartment</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[聯絡人部門]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Contact</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a9649da8-931f-4065-8791-ccad7a275fea</Key>
      <Name>Contact eMail</Name>
      <Alias>contactEMail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[聯絡人電子郵件]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Contact</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b1f025ac-5cfc-4ea7-92d3-27e5a1bf7dbf</Key>
      <Name>Contact ID</Name>
      <Alias>contactID</Alias>
      <Definition>4bfc0bb7-895a-4261-98cf-4296b2c5c331</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[聯絡人身份證號]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contact</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a10f8587-dfdc-4291-a7d1-6a3fafc0e7d7</Key>
      <Name>Contact Mobile</Name>
      <Alias>contactMobile</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[聯絡人手機]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Contact</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c4c6c1b3-6959-47aa-875a-d736e97ca32d</Key>
      <Name>Contact Name</Name>
      <Alias>contactName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[聯絡人姓名]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Contact</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5f1c9db7-c713-4c8a-ae27-2de2441e99c9</Key>
      <Name>Contact TEL - Office</Name>
      <Alias>contactTELOffice</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[聯絡人電話]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Contact</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>67b83014-75fa-4712-805c-601704875b79</Key>
      <Name>Contact TEL-Office-Extension</Name>
      <Alias>contactTELOfficeExtension</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[聯絡人電話分機]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Contact</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c5e86422-6a62-41ad-b526-66a882c449d4</Key>
      <Name>Contact Title</Name>
      <Alias>contactTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[聯絡人職稱]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Contact</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contact</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>