<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c0716bbf-45d7-41a5-ad1c-eb44451e375e" Alias="contacts" Level="2">
  <Info>
    <Name>Contacts</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>聯絡人</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Agency+Module</Folder>
    <Compositions>
      <Composition Key="f1ef329b-4861-4aec-9660-0e6c890838cc">aD</Composition>
      <Composition Key="04260142-e6ca-454c-bbad-6f6b592bd215">identify</Composition>
      <Composition Key="2f2041ca-fe65-4411-9e3e-0026fc3befa8">occupation</Composition>
      <Composition Key="52a8952f-e790-4efc-be03-55a99d068f72">xPN</Composition>
      <Composition Key="864af9a9-6ffe-4e97-8c0b-9a4c84cb94e1">xTN</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>