<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c0120079-f0be-4c30-b8b9-f4b7ff0c2036" Alias="educationHistory" Level="2">
  <Info>
    <Name>Education History</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Committee+Module</Folder>
    <Compositions />
    <DefaultTemplate>Education</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="685575e7-3468-46c0-b41f-1ed6a2f28857">Education</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7c0dadc5-748d-4bc8-8294-bb96133814b7</Key>
      <Name>Education Item</Name>
      <Alias>educationItem</Alias>
      <Definition>43177ba8-4c38-408f-aa2b-71b0123ba80b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[學歷]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Education</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Education</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>