<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c0120079-f0be-4c30-b8b9-f4b7ff0c2036" Alias="educationHistory" Level="2">
  <Info>
    <Name>Education History</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Committee+Module</Folder>
    <Compositions>
      <Composition Key="6d50ce4a-ab14-4eb2-b69e-0f8d84d34d04">educationControl</Composition>
    </Compositions>
    <DefaultTemplate>Education</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="685575e7-3468-46c0-b41f-1ed6a2f28857">Education</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>