<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fef38ae2-a2c1-4d7b-b681-e36f2a816d87" Alias="evaluationControl" Level="2">
  <Info>
    <Name>Evaluation Control</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>評鑑經驗資料集合</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>%e5%85%b1%e7%94%a8%e6%a8%a1%e7%b5%84</Folder>
    <Compositions />
    <DefaultTemplate>EvaluationHistory</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="79ddf590-580d-4a3a-87a2-d4acb1489158">EvaluationHistory</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6d1b5f19-f88d-42cd-835e-f33c61766a72</Key>
      <Name>Evaluation Item</Name>
      <Alias>evaluationItem</Alias>
      <Definition>f7d23022-4bbc-4919-9e45-18cb23953ba9</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[評鑑經驗]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Evaluation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Evaluation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>