<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d71253da-9fb1-4963-9528-69a14fb6d306" Alias="evaluationHistory" Level="2">
  <Info>
    <Name>Evaluation History</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>評鑑經驗</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Committee+Module</Folder>
    <Compositions />
    <DefaultTemplate>EvaluationHistory</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="79ddf590-580d-4a3a-87a2-d4acb1489158">EvaluationHistory</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0d53f4cf-d90f-426d-9fa0-dcf88e1a7056</Key>
      <Name>Evaluation Item</Name>
      <Alias>evaluationItem</Alias>
      <Definition>f7d23022-4bbc-4919-9e45-18cb23953ba9</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[評鑑經驗]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Evaluation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Evaluation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>