<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d71253da-9fb1-4963-9528-69a14fb6d306" Alias="evaluationHistory" Level="2">
  <Info>
    <Name>Evaluation History</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>評鑑經驗</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Committee+Module</Folder>
    <Compositions>
      <Composition Key="fef38ae2-a2c1-4d7b-b681-e36f2a816d87">evaluationControl</Composition>
    </Compositions>
    <DefaultTemplate>EvaluationHistory</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="79ddf590-580d-4a3a-87a2-d4acb1489158">EvaluationHistory</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>