<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ff9f5f8f-55fa-4914-944c-4dd17a552dd0" Alias="experimentControl" Level="2">
  <Info>
    <Name>Experiment Control</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>經歷集合</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>%e5%85%b1%e7%94%a8%e6%a8%a1%e7%b5%84</Folder>
    <Compositions />
    <DefaultTemplate>ExperimentHistory</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="701d61fc-2ea2-4bcb-9f54-5bafa9d20897">ExperimentHistory</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>062cbe07-a688-4dc7-8f84-32cd8808889f</Key>
      <Name>Experiment Item</Name>
      <Alias>experimentItem</Alias>
      <Definition>14fbf5f5-5d2f-4f13-95ca-2290695f792e</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[經歷]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Experiment</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Experiment</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>