<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="936cd634-f05d-4626-af89-9f6a80b5d403" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="16129181-e0a6-4685-8425-5ff31bc35cdb">carouselControls</Composition>
      <Composition Key="f5b35dfb-c891-4c0b-a575-9e95a9c6a89b">footerContentControls</Composition>
      <Composition Key="58023b60-47a4-4fc1-97b8-879798aa18ca">latestArticlesControls</Composition>
      <Composition Key="94df461c-c150-492b-8e63-4a0dfbe1525a">metaDataControls</Composition>
      <Composition Key="6e298145-5eb7-46a2-9b94-a67315749d3e">navigationControls</Composition>
      <Composition Key="65737c72-b6e3-4852-9d32-e51dd3e103fb">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0f082e2d-ca51-406f-9c16-d3f7c678cd6f">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="806e9e2a-58a9-4e00-91e0-a98e17ff86ee" SortOrder="0">articleList</ContentType>
    <ContentType Key="f27fb15c-92c6-41d3-8b1a-892ce2c4e529" SortOrder="1">contact</ContentType>
    <ContentType Key="bfc10f5b-5cbd-4ce6-a8e0-80c092f03993" SortOrder="2">content</ContentType>
    <ContentType Key="e5850ff1-971b-4bb7-ad42-5f5601662fa5" SortOrder="3">prettyLink</ContentType>
    <ContentType Key="d58b6aba-37a7-4763-b482-6f0ba6ff3e96" SortOrder="4">search</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>