<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ab8824ef-5d45-4f04-8934-5326d62557a1" Alias="humanName" Level="3">
  <Info>
    <Name>Human Name</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Data+Types+Element/FHIR</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>32689a5b-1091-45b1-955b-2008a9c090ed</Key>
      <Name>Family</Name>
      <Alias>family</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[姓]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>HumanName</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>68ab217e-452f-43a3-a658-1f54fd4f9ef9</Key>
      <Name>Given</Name>
      <Alias>given</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[名]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>HumanName</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e4726866-1a2b-4280-86ae-bbceaf6b1858</Key>
      <Name>Period</Name>
      <Alias>period</Alias>
      <Definition>06cfa1c2-77de-43a9-acb5-260014e70b49</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[有效期間]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>HumanName</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fd157b8d-4009-4706-9e77-7265bf4c8fcb</Key>
      <Name>Prefix</Name>
      <Alias>prefix</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[前置]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>HumanName</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>97a835c3-9564-4508-a2e4-404e0659e92b</Key>
      <Name>Suffix</Name>
      <Alias>suffix</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[後置]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>HumanName</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>59024fde-90ff-4e1d-833c-8407327cc8f9</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[全名]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>HumanName</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0b638009-6ed4-4e43-9961-8b519b0a58b2</Key>
      <Name>Use</Name>
      <Alias>use</Alias>
      <Definition>e615c7db-bcfb-4e82-bfe7-336a916fc15d</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[使用情境]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>HumanName</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>HumanName</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>