<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="04260142-e6ca-454c-bbad-6f6b592bd215" Alias="identifyElement" Level="2">
  <Info>
    <Name>Identify Element</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>辨識資料</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Data+Types+Element</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b3ad7c51-1ef5-4c7c-a880-515faca53b3e</Key>
      <Name>Birthday</Name>
      <Alias>birthday</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[生日]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Identify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3cddb13c-f84a-4c68-abb1-2ee51182dd5d</Key>
      <Name>ComType</Name>
      <Alias>comType</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[委員代表]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Identify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>edd7e39e-6c97-472b-98cb-b45851be6bac</Key>
      <Name>Gender</Name>
      <Alias>gender</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[性別]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Identify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>15e9f321-f4f8-4732-abe8-4d10d1d2f3bd</Key>
      <Name>SID</Name>
      <Alias>sID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[身份證號]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Identify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Identify</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>