<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="94df461c-c150-492b-8e63-4a0dfbe1525a" Alias="metaDataControls" Level="2">
  <Info>
    <Name>Meta Data Controls</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>38dca91e-818f-4fbb-8d81-cd4a64e177fd</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the meta description. This is what shows up in Google etc. If left blank, will use the page name.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Meta Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>99cbfc85-efdb-4afc-93bb-690c3ed08df7</Key>
      <Name>Meta Keywords</Name>
      <Alias>metaKeywords</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the meta keywords. This is used for Search Engine]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Meta Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a46fa7b1-67e8-4caa-a31b-1df56e6daa29</Key>
      <Name>Meta Name</Name>
      <Alias>metaName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the meta name. If left blank it will use the page name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Meta Data</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Meta Data</Caption>
      <SortOrder>7</SortOrder>
    </Tab>
  </Tabs>
</ContentType>