<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b9293078-bcd8-4790-8174-19ca8dbefa57" Alias="name" Level="2">
  <Info>
    <Name>Name</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate>Name</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="374ed738-91a6-4c4d-ab1c-206dec2767d7">Name</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>