<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="52a8952f-e790-4efc-be03-55a99d068f72" Alias="nameElement" Level="2">
  <Info>
    <Name>Name Element</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>HL7 v282-extended person name人名</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Data+Types+Element</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c160ffda-733b-433c-b4d6-9140a8a7e17c</Key>
      <Name>Family Name</Name>
      <Alias>familyName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[姓]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Name</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>baafecbc-c4fb-4624-b9d1-2dbe38275f40</Key>
      <Name>Full Name</Name>
      <Alias>fullName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[全名]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Name</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>873e1903-5436-4a1d-a963-dc29f1b655e6</Key>
      <Name>Given Name</Name>
      <Alias>givenName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[名]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Name</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7e469b5c-9ecc-41af-baa5-fcd81537124e</Key>
      <Name>Nick Name</Name>
      <Alias>nickName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[暱稱]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Name</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Name</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>