<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17c3e075-2a7b-4b61-973f-ad523d87421f" Alias="period" Level="3">
  <Info>
    <Name>Period</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>fhir-期間</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Data+Types+Element/FHIR</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c0c21492-ec92-4f54-ba77-e0f81763278f</Key>
      <Name>End</Name>
      <Alias>end</Alias>
      <Definition>6d6ea9cd-7fdc-4c67-9dba-b1d7b016f666</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[結束日期]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Period</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cfdbcece-f507-4f4e-aad0-06bbe2e4f463</Key>
      <Name>Start</Name>
      <Alias>start</Alias>
      <Definition>2279b644-4417-4146-9af3-c3c17b5daba2</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[開始日期]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Period</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Period</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>