<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="94ace816-a4be-4b55-a80e-eba218e968c1" Alias="personControls" Level="2">
  <Info>
    <Name>Person Controls</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>聯絡人</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>%e5%85%b1%e7%94%a8%e6%a8%a1%e7%b5%84</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>44f3881a-82e2-4d44-ae19-62865ead31be</Key>
      <Name>Person Address</Name>
      <Alias>personAddress</Alias>
      <Definition>c8726a1e-f4d8-45b1-9382-82cde10735d1</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Address</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5a2e1b09-0afc-45f3-a250-29b37330a681</Key>
      <Name>Person Identify</Name>
      <Alias>personIdentify</Alias>
      <Definition>f856fb28-9c22-43e1-a5d4-3e0c47aa9752</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[辨識資料]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Identify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fb92fd70-d934-4795-a1bc-bff1cab13ed1</Key>
      <Name>Person Name</Name>
      <Alias>personName</Alias>
      <Definition>ce4c90d7-7b61-441e-9ec5-2de16f9bb409</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contacts Name</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f0896d8e-04e2-47f5-95e9-f0070a11ff8f</Key>
      <Name>Person Occupation</Name>
      <Alias>personOccupation</Alias>
      <Definition>14fbf5f5-5d2f-4f13-95ca-2290695f792e</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[職業內容]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Occupation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f3059bba-7a38-4319-86c3-d62827e70f96</Key>
      <Name>Person TEL</Name>
      <Alias>personTEL</Alias>
      <Definition>8ef89be0-eff7-4c79-aaf6-82ba2b924b96</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[通訊模組]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>TEL</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Address</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Identify</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Contacts Name</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Occupation</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>TEL</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>