<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e5850ff1-971b-4bb7-ad42-5f5601662fa5" Alias="prettyLink" Level="1">
  <Info>
    <Name>Pretty Link</Name>
    <Icon>icon-link color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="6e298145-5eb7-46a2-9b94-a67315749d3e">navigationControls</Composition>
      <Composition Key="739e618e-f319-47f8-a25c-1f9b3ace7b8c">prettyLinkControls</Composition>
      <Composition Key="65737c72-b6e3-4852-9d32-e51dd3e103fb">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>PrettyLink</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d130de29-f04d-4917-8a62-24810af9a221">PrettyLink</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e5850ff1-971b-4bb7-ad42-5f5601662fa5" SortOrder="0">prettyLink</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>