<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="30b62cbd-d7af-42ce-ab1e-a5125d0d9025" Alias="principal" Level="2">
  <Info>
    <Name>Principal</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Agency+Module</Folder>
    <Compositions>
      <Composition Key="f1ef329b-4861-4aec-9660-0e6c890838cc">aD</Composition>
      <Composition Key="04260142-e6ca-454c-bbad-6f6b592bd215">identify</Composition>
      <Composition Key="52a8952f-e790-4efc-be03-55a99d068f72">xPN</Composition>
      <Composition Key="864af9a9-6ffe-4e97-8c0b-9a4c84cb94e1">xTN</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d6823b4a-98e8-481d-8210-d40071a1a82c</Key>
      <Name>Is Part time</Name>
      <Alias>isPartTime</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[是兼任負責人]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Ext</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Ext</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>