<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="30b62cbd-d7af-42ce-ab1e-a5125d0d9025" Alias="principal" Level="2">
  <Info>
    <Name>Principal</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Agency+Module</Folder>
    <Compositions>
      <Composition Key="94ace816-a4be-4b55-a80e-eba218e968c1">personControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d6823b4a-98e8-481d-8210-d40071a1a82c</Key>
      <Name>Is Part time</Name>
      <Alias>isPartTime</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[是兼任負責人]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Identify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Identify</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>