<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="944c5f66-099d-42fd-a0f3-3462e6c6b3f5" Alias="schoolElement" Level="2">
  <Info>
    <Name>School Element</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>學校</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Data+Types+Element</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>783f6613-dfaa-420b-a094-ef07abaca8ab</Key>
      <Name>Department</Name>
      <Alias>department</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[系所名稱]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>School</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>896d0cf7-118c-471f-a7fc-32a7fc3e67db</Key>
      <Name>School Code</Name>
      <Alias>schoolCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[學校代碼]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>School</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0ffb4f53-6406-4908-82d7-bdb554918329</Key>
      <Name>School Name</Name>
      <Alias>schoolName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[學校名稱]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>School</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>School</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>