<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d58b6aba-37a7-4763-b482-6f0ba6ff3e96" Alias="search" Level="1">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="94df461c-c150-492b-8e63-4a0dfbe1525a">metaDataControls</Composition>
      <Composition Key="6e298145-5eb7-46a2-9b94-a67315749d3e">navigationControls</Composition>
      <Composition Key="65737c72-b6e3-4852-9d32-e51dd3e103fb">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bb61dcb5-53cd-44c7-9712-253153279e3a">Search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>