<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="864af9a9-6ffe-4e97-8c0b-9a4c84cb94e1" Alias="telElement" Level="2">
  <Info>
    <Name>TEL Element</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>HL7 v282-extended telecommunication number電話</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Data+Types+Element</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9e634861-0457-41a3-aade-2aa9f0c9ce6b</Key>
      <Name>Country Code</Name>
      <Alias>countryCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[國碼]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>TEL</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>57738712-e546-45bb-8640-20390872319a</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[電子信箱]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>TEL</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>944957cc-8c8a-4fa9-942e-cae8aa91a22c</Key>
      <Name>Extension</Name>
      <Alias>extension</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[分機]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>TEL</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3e711a8e-9e6a-45a7-a3db-ba7d8d08d227</Key>
      <Name>Fax</Name>
      <Alias>fax</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[傳真]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>TEL</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>431b5faf-daa5-4057-8943-2ba16600e5ec</Key>
      <Name>Mobile</Name>
      <Alias>mobile</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[手機號碼]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>TEL</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cb6d095f-038a-40c6-aaa6-ec5390204299</Key>
      <Name>Phone Area Code</Name>
      <Alias>phoneAreaCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[區碼]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>TEL</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>98b0a424-8c85-41e0-971b-7cc099a4dec3</Key>
      <Name>Telephone Number</Name>
      <Alias>telephoneNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[電話號碼]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>TEL</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fb6a0507-503b-444a-beb1-42c91af23826</Key>
      <Name>Web Site</Name>
      <Alias>webSite</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[網站]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>TEL</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>TEL</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>