<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="65737c72-b6e3-4852-9d32-e51dd3e103fb" Alias="umbracoUrlAliasControls" Level="2">
  <Info>
    <Name>Umbraco Url Alias Controls</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6eb33d5b-383d-4b9a-a0bd-cffafe34a653</Key>
      <Name>Umbraco Url Alias</Name>
      <Alias>umbracoUrlAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter an alternate url in here. Please note that the values you use must be lowercase, not use a leading slash and not use a trailing ".aspx" or trailing slash. If you are adding multiple values, they must be separated with a comma.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Generic Properties</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Generic Properties</Caption>
      <SortOrder>9</SortOrder>
    </Tab>
  </Tabs>
</ContentType>