<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="23b9a246-133d-4bb7-8ac2-e0559fc631f2" Alias="usingStatus" Level="2">
  <Info>
    <Name>Using Status Controls</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>使用狀態</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate>UsingStatus</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="116b58cb-20a3-4b6b-9831-bdbc7b1af0bb">UsingStatus</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a2135a7f-c80a-4d41-aefc-1bb606a324a6</Key>
      <Name>Is Active</Name>
      <Alias>isActive</Alias>
      <Definition>d3be97c5-6654-44a9-8df3-934ef32ce5f4</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[使用中]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Status</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b23e6d4e-ef82-403d-be5e-e965e37f912e</Key>
      <Name>Is Expire</Name>
      <Alias>isExpire</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[過期]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Status</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Status</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>